@{
    ViewData["Title"] = "Espacios en bootstrap";
}

<h4>Ejemplo 1: Márgenes</h4>

<!--
  m-2: Es una clase para aplicar margenes con bootrap se aplicar en todas las direcciones
  mt: Esta clase aplica margin-top
  mb: Esta clase aplica margin-bottom
  my: Esta clase aplica margin tanto en margin top como en margin botoom
  mx: Esta clase aplica margin tanto en margin left como en margin right
  ms: Esta clase alicar un margen hacia la izquierda
  me: Esta clase alicar un margen hacia la derecha
-->

<div>
    Fila 1
</div>

<div class="mt-4">
    Fila 2
</div>

<div>
    Fila 3
</div>


<button class="btn btn-primary">Botón 1</button>
<button class="btn btn-secondary ms-5">Botón 2</button>

<h2> Padding</h2>

<!--
  p-2: Es una clase para aplicar paddings con bootrap se aplicar en todas las direcciones
  pt: Esta clase aplica paddings-top
  pb: Esta clase aplica paddings-bottom
  py: Esta clase aplica paddings tanto en paddings top como en paddings botoom
  px: Esta clase aplica paddings tanto en paddings left como en paddings right
  ps: Esta clase alicar un padding hacia la izquierda
  pe: Esta clase alicar unpaddings hacia la derecha
-->

<button class="btn btn-primary px-5">Botón 1</button>
<button class="btn btn-secondary">Botón 2</button>