@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Glutter Horizontal</h4>

<!-- gx: Es una clase de bootsrap que nos permite separar Los elementos hijos de forma horizontal que estan
dentro de un contenedor padre, y se puede adaptar para cada tipo de pantalla
-->

<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>


<h4>Ejemplo 2: Glutter Vertical</h4>

<!-- gx: Es una clase de bootsrap que nos permite separar Los elementos hijos de forma horizontal que estan
dentro de un contenedor padre, y se puede adaptar para cada tipo de pantalla
-->

<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

