@{
    ViewData["Title"] = "Bootrap Colores";
}

<!-- Colores en Bootstrap-->


<!-- bg-primary = Azul -->

<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
<div class="p-3 mb-2 bg-primary bg-gradient text-white">.bg-primary con gradiente</div>

<!-- bg-secondary = Gris -->

<div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
<div class="p-3 mb-2 bg-secondary bg-gradient text-white">.bg-secondary con gradiente</div>

<!-- bg-success = Verde -->

<div class="p-3 mb-2 bg-success text-white">.bg-success</div>
<div class="p-3 mb-2 bg-success bg-gradient text-white">.bg-success con gradiente</div>

<!-- bg-danger = Rojo -->

<div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
<div class="p-3 mb-2 bg-danger bg-gradient text-white">.bg-danger con gradiente</div>

<!-- bg-warning = Amarillo -->

<div class="p-3 mb-2 bg-warning text-white">.bg-warning</div>
<div class="p-3 mb-2 bg-warning bg-gradient text-white">.bg-warning con gradiente</div>

<!-- bg-info = Azul Claro -->

<div class="p-3 mb-2 bg-info text-white">.bg-info</div>
<div class="p-3 mb-2 bg-info bg-gradient text-white">.bg-info con gradiente</div>

<!-- bg-light = Gris Claro casi blanco -->

<div class="p-3 mb-2 bg-light text-white">.bg-light</div>
<div class="p-3 mb-2 bg-light bg-gradient text-white">.bg-light con gradiente</div>

<!-- bg-dark = Negro -->

<div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
<div class="p-3 mb-2 bg-dark bg-gradient text-white">.bg-dark con gradiente</div>

<!-- bg-white = Blanco -->

<div class="p-3 mb-2 bg-white text-dark-">.bg-dark</div>
<div class="p-3 mb-2 bg-white bg-gradient text-dark">.bg-dark con gradiente</div>

<!-- Botones -->

<h2> Colores en botones </h2>

<br />

<div>
    <button class="btn btn-primary"> Botón Primario </button>
</div>

<br />

<div>
    <button class="btn btn-danger"> Botón Danger </button>
</div>

<br />

<div>
    <button class="btn btn-success"> Botón Success </button>
</div>

<br />

<div>
    <button class="btn btn-warning text-white"> Botón Success </button>
</div>
