@model EjemploGUIDViewModel

<h1> Ejemplo 2</h1>

<div>
    Guid Transitorio  <b style="color: red;">@Model.Transitorio </b>
</div>

<div>
    Guid Delimitado  <b style="color: green;">@Model.Delimitado </b>
</div>

<div>
    Guid Unico  <b style="color: blue;">@Model.Unico </b>
</div>

