@{
	ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestaré el mensaje lo mas pronto posible</p>

<div>
	<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Volver a la pagina de inicio</a>
</div>
